<section id="activities" class="atf-section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6">
        <div
          class="atf-section-title text-center wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
          data-wow-offset="0"
        >
          <h2 class="" >Activities to Earn</h2>
          <!-- <p class="mx-auto my-auto">
            Lorem elementum Sed congue nisl dolorSed congue nisl dolor
            Lorem elementum Sed congue nisl dolor Sed.
          </p> -->
        </div>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->

    <div class="row clearfix">
      <div class="col-lg-4 col-md-4 col-12 atf-main-service text-center">
        <div
          class="atf-service-content wow fadeInUp"
          data-wow-duration="2s"
          data-wow-delay="0.4s"
          data-wow-offset="0"
        >
          <div class="atf-single-service">
            <div class="atf-service-number">01</div>
            <div
              class="atf-service-icon text-center d-flex justify-content-center align-items-center"
            >
              <img
                src="../../../../assets/img/walking.png"
                class="atf-activities-img"
              />
            </div>
            <div class="atf-service-text">
              <h3 >Walking</h3>
              <p >
                Earn with Cryptocurrency by daily walking exercises. Own
                the right walking shoes and your personality.
              </p>
            </div>
          </div>
        </div>

        <div
          class="atf-service-content atf-main-service wow fadeInUp"
          data-wow-duration="3s"
          data-wow-delay="0.5s"
          data-wow-offset="0"
        >
          <div class="atf-single-service">
            <div class="atf-service-number">02</div>
            <div
              class="atf-service-icon text-center d-flex justify-content-center align-items-center"
            >
              <img
                src="../../../../assets/img/driving.png"
                class="atf-activities-img"
              />
            </div>
            <div class="atf-service-text">
              <h3 >Driving</h3>
              <p >
                Cars with different characteristics and durability will
                have different profit margins. You'll earn coins for
                completing your rides, which suits tech taxi drivers.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--- END COL -->

      <div class="col-lg-4 col-md-4 col-12 text-center">
        <div
          class="atf-service-single-img text-center my-auto mx-auto wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.3s"
          data-wow-offset="0"
        >
          <div class="atf-service-image">
            <img
              src="../../../../assets/img/app.png"
              alt="about"
              class="card-s"
            />
          </div>
        </div>
      </div>
      <!--- END COL -->

      <div class="col-lg-4 col-md-4 col-12 atf-main-service text-center">
        <div
          class="atf-service-content wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.3s"
          data-wow-offset="0"
        >
          <div class="atf-single-service">
            <div class="atf-service-number">03</div>
            <div
              class="atf-service-icon text-center d-flex justify-content-center align-items-center"
            >
              <img
                src="../../../../assets/img/running.png"
                class="atf-activities-img"
              />
            </div>
            <div class="atf-service-text">
              <h3>Running</h3>
              <p>
                Advanced workouts burn calories calculated based on your
                height and weight.The mechanics of making money using
                professional running shoes offer different experiences.
              </p>
            </div>
          </div>
        </div>

        <div
          class="atf-service-content atf-main-service text-center wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.3s"
          data-wow-offset="0"
        >
          <div class="atf-single-service">
            <div class="atf-service-number">04</div>
            <div
              class="atf-service-icon text-center d-flex justify-content-center align-items-center"
            >
              <img
                src="../../../../assets/img/cycling.png"
                class="atf-activities-img"
              />
            </div>
            <div class="atf-service-text">
              <h3>Cycling</h3>
              <p >
                Bicycle exercises will be tracked by GPS, increasing
                training intensity will reduce the specifications and
                durability of the bikes. Optimal selection NFT will help
                you make better money.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTAINER -->
</section>
