<header>
  <nav class="navbar navbar-navs navbar-expend navbar-expand-md fixed-top" id="menu-top">
    <div class="container">

      <a class="navbar-brand" href="/"><img src="../../assets/images/logo.png"></a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse"
        data-bs-target="#navbarDefault" aria-controls="navbarDefault">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav ml-auto">
          <li data-menuanchor="firstPage" class="menu-nav">
            <a class="nav-link " href="#firstPage">Home</a>
          </li>
          <li data-menuanchor="secondPage" class="menu-nav">
            <a class="nav-link" href="#secondPage">About Us</a>
          </li>
          <li data-menuanchor="thirdPage" class="menu-nav">
            <a class="nav-link" href="#thirdPage">Contact Us</a>
          </li>


        </ul>
      </div>
    </div>

  </nav>
</header>


<button class="atf-scroll-top atf-back-to-top open"  href="#firstPage">
  <i class="fa fa-angle-up atf-scrollup-icon"></i>
</button>

<div class="section" id="firstPage">

  <app-home></app-home>
</div>

<div class="section" id=secondPage>
  <div class="slide mt-5">
    <app-about-us></app-about-us>
  </div>
</div>
<div class="section" id=thirdPage>
  <div class="slide">
    <app-content-us></app-content-us>
  </div>
