
nav{
 background:  #eaeff2 !important;
  height: 100px !important;
}
 a{
  color:
  #1936b3;
 }
 .active{
   color: red !important;
   background: red !important;
 }


@media only screen and (max-width: 600px) {
  nav{

    height: auto !important;
  }

}
.slide{
  margin-top: 10rem !important;
}


