<section id="feature" class="atf-feature-area atf-section-padding atf-shape2-two">

  <div class="container">
    <div class="row clearfix">
      <div class="col-xl-4 col-lg-4 col-12">
        <div class="atf-feature-inner text-center my-auto wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.4s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeInLeft;">
          <div class="atf-feature-img">
            <img src="../../assets/img/features.png" alt="portfolio" class="card-s" style="will-change: transform; transform: perspective(2400px) rotateX(6.71deg) rotateY(0.7deg) scale3d(1, 1, 1); transition: all 2200ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;">
          </div>
        </div>
      </div>
      <!--- END COL -->

      <div class="col-xl-8 col-lg-8 col-12 my-auto mx-auto">
        <div class="row clearfix justify-content-left">
          <div class="col-xl-7 col-lg-7 text-left">
            <div class="atf-section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
              <h2 >MovingOn Features</h2>
            </div>
          </div>
        </div>

        <div class="row clearfix gx-4 gy-4">
          <div class="col-xl-6 col-lg-6 col-12">
            <div class="atf-feature-content atf-main-feature wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeInUp;">
              <div class="atf-single-feature d-block d-md-flex">
                <div class="atf-feature-icon mr-md-4">
                  <img src="../../assets/img/Drive-To-Earn.png" class="atf-feature-img">
                </div>
                <div class="atf-feature-text">
                  <h3 >Drive to Earn</h3>
                  <p >Users who own transport vehicles such as motorbikes and cars can participate in Drive activities to receive rewards. This activity is suitable for technology taxi drivers (Uber, Lyft, Grab, Didi, Ola,...).</p>
                </div>
              </div>
            </div>
          </div>
          <!--- END COL -->

          <div class="col-xl-6 col-lg-6 col-12">
            <div class="atf-feature-content atf-main-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="atf-single-feature d-block d-md-flex">
                <div class="atf-feature-icon mr-md-4">
                  <img src="../../assets/img/Move-To-Earn.png" class="atf-feature-img">
                </div>
                <div class="atf-feature-text">
                  <h3 >Move to Earn</h3>
                  <p >Users can exercise and get rewards through activities: Walking, Running and Cycling.</p>
                </div>
              </div>
            </div>
          </div>
          <!--- END COL -->

          <div class="col-xl-6 col-lg-6 col-12">
            <div class="atf-feature-content atf-main-feature wow fadeInUp" data-wow-duration="3s" data-wow-delay="0.4s" data-wow-offset="0" style="visibility: visible; animation-duration: 3s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="atf-single-feature d-block d-md-flex">
                <div class="atf-feature-icon mr-md-4">
                  <img src="../../assets/img/NFT.png" class="atf-feature-img">
                </div>
                <div class="atf-feature-text">
                  <h3 >NFT</h3>
                  <p >These are tokens that have been designed to be unique. They are used to identify a specific owner. Once you own the NFT, you can then use it or sell it as you please on the Marketplace.</p>
                </div>
              </div>
            </div>
          </div>
          <!--- END COL -->

          <div class="col-xl-6 col-lg-6 col-12">
            <div class="atf-feature-content atf-main-feature wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeInUp;">
              <div class="atf-single-feature d-block d-md-flex">
                <div class="atf-feature-icon mr-md-4">
                  <img src="../../assets/img/Staking.png" class="atf-feature-img">
                </div>
                <div class="atf-feature-text">
                  <h3 >Staking</h3>
                  <p >MovingOn Finance will implement a Staking product so that MOVON token holders can earn passive profits. Staking is essential to maintaining a safe and healthy network.</p>
                </div>
              </div>
            </div>
          </div>
          <!--- END COL -->
        </div>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTANIAR -->
</section>
