#feature{

  background-size: cover;

  border-radius: 10px;

  padding: 0 30px;
}
#feature:hover{
  transform: scale(1.01);
}
.atf-single-feature
{
  height: 100%;

}



.atf-feature-content:hover{



}
.atf-shape-two{
  height: 100vh;
}
.about{
  padding-top: 20px;
  padding: 0px 0 10px 0;
  color: #fff;
  -webkit-background-clip: text;

  font-weight: 700;
  letter-spacing: 1px;
  font-size: 30px;
  text-align: center;

}
.atf-feature-text h3 {
  padding: 0px 0 10px 0;
 color: #1835b3!important;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 26px;
}


@media only screen and (max-width: 600px) {
  img {
    width: 100%
    ;
  }
}
.atf-feature-area {

}
