<section id="featur" class="atf-feature-area atf-section-padding atf-shape2-two">
  <h2 class="about pt-4" >About US</h2>
  <!-- <img class="atf-shape-two" src="assets/img/shape/shape2.png" alt=""> -->
  <div class="container">
    <div class="row clearfix">
      <div class="col-xl-5 col-lg-6 col-12 mt-5" id="feature">
        <div class="atf-feature-inner text-center my-auto wow fadeInLeft mt-5" data-wow-duration="10s" data-wow-delay="0.4s" data-wow-offset="10" style="visibility: visible; animation-duration: 5s; animation-delay: 0.4s; animation-name: fadeInLeft;">
          <div class="home-image-box">

          </div>
        </div>
      </div>
      <!--- END COL -->

      <div class="col-xl-7 col-lg-6 col-12   mb-3">
        <div class="row clearfix justify-content-left">
          <div class="col-xl-7 col-lg-7 text-left">
            <div class="atf-section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">

            </div>
          </div>
        </div>

        <div class="row clearfix gx-4 gy-4 " >
          <div class="col-xl-6 col-lg-6 col-12">
            <div class="atf-feature-content atf-main-feature wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s" data-wow-offset="0" style="visibility: visible; animation-duration: 5s; animation-delay: 0.3s; animation-name: fadeInUp;">
              <div class="atf-single-feature d-block d-md-flex">
                <div class="atf-feature-icon mr-md-4">
                  <img src="../../assets/images/logo.png" width="50%" class="atf-feature-img">
                </div>
                <div class="atf-feature-text">
                  <h3 >we are fast</h3>
                  <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, reprehenderit. Praesentium eligendi mollitia dicta adipisci commodi id, dignissimos, quidem temporibus dolore ut a ex? Dolore in vitae excepturi reiciendis nisi.</p>
                </div>
              </div>
            </div>
          </div>
          <!--- END COL -->


          <!--- END COL -->

          <div class="col-xl-6 col-lg-6 col-12">
            <div class="atf-feature-content atf-main-feature wow fadeInUp" data-wow-duration="3s" data-wow-delay="0.4s" data-wow-offset="0" style="visibility: visible; animation-duration: 3s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="atf-single-feature d-block d-md-flex">
                <div class="atf-feature-icon mr-md-4">
                  <img src="../../assets/images/logo.png" width="50%" class="atf-feature-img">
                </div>
                <div class="atf-feature-text">
                  <h3 >we are Professional</h3>
                  <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus earum eum dolorum id totam. Officiis maiores voluptas fuga, tempora et officia harum quis ducimus corporis hic recusandae dolor ea eaque.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-12">
            <div class="atf-feature-content atf-main-feature wow fadeInUp" data-wow-duration="3s" data-wow-delay="0.4s" data-wow-offset="0" style="visibility: visible; animation-duration: 3s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="atf-single-feature d-block d-md-flex">
                <div class="atf-feature-icon mr-md-4">
                  <img src="../../assets/images/logo.png" width="50%" class="atf-feature-img">
                </div>
                <div class="atf-feature-text">
                  <h3 >Easy villa Booking</h3>
                  <p >These are tokens that have been designed to be unique. They are used to identify a specific owner. Once you own the NFT, you can then use it or sell it as you please on the Marketplace.</p>
                </div>
              </div>
            </div>
          </div>
          <!--- END COL -->

          <div class="col-xl-6 col-lg-6 col-12">
            <div class="atf-feature-content atf-main-feature wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeInUp;">
              <div class="atf-single-feature d-block d-md-flex">
                <div class="atf-feature-icon mr-md-4">
                  <img src="../../assets/images/logo.png" width="50%" class="atf-feature-img">
                </div>
                <div class="atf-feature-text">
                  <h3>Buying</h3>
                  <p >Melo will implement a Staking product so that MOVON token holders can earn passive profits. Staking is essential to maintaining a safe and healthy network.</p>
                </div>
              </div>
            </div>
          </div>
          <!--- END COL -->
        </div>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTANIAR -->
</section>
