<section id="screenshot" class="atf-screenshot-area atf-section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6">
        <div
          class="atf-section-title text-center wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
          data-wow-offset="0"
        >
          <h2 class="">More Than Just A Fitness App</h2>
          <p class="mx-auto my-auto">
            We build a truly professional application and understand the
            user. The app shows what you have and what you need. The tasks
            are innovated and professional to bring maximum benefits to
            users.
          </p>
        </div>
      </div>
      <!--- END COL -->

      <div
        class="screenshot wow animated fadeInUp"
        data-wow-duration="2s"
        data-wow-delay=".3s"
      >
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img alt="" src="../../../../assets/img/1.png" />
            </div>
            <div class="swiper-slide">
              <img alt="" src="../../../../assets/img/2.png" />
            </div>
            <div class="swiper-slide">
              <img alt="" src="../../../../assets/img/3.png" />
            </div>
            <div class="swiper-slide">
              <img alt="" src="../../../../assets/img/4.png" />
            </div>
            <div class="swiper-slide">
              <img alt="" src="../../../../assets/img/5.png" />
            </div>
            <div class="swiper-slide">
              <img alt="" src="../../../../assets/img/6.png" />
            </div>
            <div class="swiper-slide">
              <img alt="" src="../../../../assets/img/7.png" />
            </div>
            <div class="swiper-slide">
              <img alt="" src="../../../../assets/img/8.png" />
            </div>
            <div class="swiper-slide">
              <img alt="" src="../../../../assets/img/9.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
id="watch"
class="atf-watch-area atf-shape3-three"
style="background-size: cover; background-position: center center"
>
<img class="atf-shape-three" src="img/shape3.png" alt="" />
<div class="atf-video-overlay atf-section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6">
        <div
          class="atf-section-title text-center wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
          data-wow-offset="0"
        >
          <h2 class="text-black">Watch Now</h2>
          <p class="mx-auto my-auto text-black">
            Learn more about MovingOn Finance in real life through
            videos.
          </p>
        </div>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->

    <div class="row justify-content-center mx-auto">
      <div class="col-xl-6 col-lg-6 d-flex justify-content-center mt-4">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/8XkMFFh5DVg?controls=0"
          title="YouTube video player"
          frameborder="0"
          class="iframe"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-xl-6 col-lg-6 d-flex justify-content-center mt-4">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/lIN5lBPIzJw?controls=0"
          title="YouTube video player"
          frameborder="0"
          class="iframe"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTANIAR -->
</div>
<!--- END CONTANIAR -->
</section>
