     <!-- START ABOUT AREA  -->
     <section id="mobile" class="atf-about-area atf-section-padding atf-shape">
      <img class="atf-shape-one" src="img/shape1.png" alt="" />
      <div class="container">
        <div class="row clearfix">
          <div class="col-xl-6 col-lg-6 col-12">
            <div
              class="atf-about-content-area pl-lg-3 wow fadeInLeft"
              data-wow-duration="1s"
              data-wow-delay="0.2s"
              data-wow-offset="0"
            >
              <div class="atf-section-title">
                <h2>Best Fitness & Crypto Earning App</h2>
                <ul class="atf-about-single-content mt-3">
                  <li>Easy to use and suitable for everyone</li>
                  <li>Walking, Running, Cycling to earn</li>
                  <li>More prominent is Driving to earn</li>
                  <li>Connect with everyone in the world</li>
                  <li>Improve health and lifestyle</li>
                </ul>
              </div>
              <!-- About-btn -->
              <div class="atf-about-btn mt-5">
                <div class="atf-one__btn-wrap">
                  <a
                    href="https://drive.google.com/file/d/1ZgJcoUmpjkNds95NjA0OU5I1fvI4A-l0"
                    class="atf-one__btn"
                  >
                    <i class="fa fa-play"></i><span>Get in</span
                    ><b>Google Play</b>
                  </a>

                  <a
                    href="https://install.appcenter.ms/users/gameonlinetn2050-gmail.com/apps/movon/distribution_groups/movon"
                    class="atf-one__btn ml-3"
                  >
                    <i class="fab fa-apple"></i><span>Get in</span
                    ><b>Apple Store</b>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--- END COL -->

          <div class="col-xl-6 col-lg-6 col-12">
            <div
              class="atf-single-about-img text-center my-auto wow fadeInRight"
              data-wow-duration="1s"
              data-wow-delay="0.3s"
              data-wow-offset="0"
            >
              <div class="atf-about-image">
                <img
                  src="../../assets/img/running12.png"
                  alt="about"
                  class="card-s"
                />
              </div>
            </div>
          </div>
          <!--- END COL -->
        </div>
        <!--- END ROW -->
      </div>
      <!--- END CONTANIAR -->
    </section>
    <!-- END ABOUT AREA  -->

    <!-- COUNTER SECTION START-->
    <section id="counter" class="atf-section-padding pt-0">
      <div class="container atf-counter-area">
        <div class="row clearfix text-center">
          <div class="col-lg-3 col-md-6 col-12 atf-main-counter">
            <div
              class="atf-counter wow fadeInUp"
              data-wow-duration="1s"
              data-wow-delay="0.2s"
              data-wow-offset="0"
            >
              <div class="atf-counter-content">
                <span class="atf-counter-value odometer" data-count="~"
                  >938</span
                >
                <h3>Total Accounts</h3>
              </div>
            </div>
          </div>
          <!--- END COL -->

          <div class="col-lg-3 col-md-6 col-12 atf-main-counter">
            <div
              class="atf-counter wow fadeInUp"
              data-wow-duration="2s"
              data-wow-delay="0.3s"
              data-wow-offset="0"
            >
              <div class="atf-counter-content">
                <span class="atf-counter-value odometer" data-count="~"
                  >1167</span
                >
                <h3>App Download</h3>
              </div>
            </div>
          </div>
          <!--- END COL -->

          <div class="col-lg-3 col-md-6 col-12 atf-main-counter">
            <div
              class="atf-counter wow fadeInUp"
              data-wow-duration="3s"
              data-wow-delay="0.4s"
              data-wow-offset="0"
            >
              <div class="atf-counter-content">
                <span class="atf-counter-value odometer" data-count="~"
                  >00</span
                >
                <h3>Total Rates</h3>
              </div>
            </div>
          </div>
          <!--- END COL -->

          <div class="col-lg-3 col-md-6 col-12 atf-main-counter">
            <div
              class="atf-counter wow fadeInUp"
              data-wow-duration="1s"
              data-wow-delay="0.2s"
              data-wow-offset="0"
            >
              <div class="atf-counter-content">
                <span class="atf-counter-value odometer" data-count="~"
                  >4,289</span
                >
                <h3>$MOVON Holders</h3>
              </div>
            </div>
          </div>
          <!--- END COL -->
        </div>
        <!--- END ROW -->
      </div>
      <!--- END CONTAINER -->
    </section>
    <!-- COUNTER SECTION END-->

