.contact{
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  padding: 10px;
  border-radius: 10px;
}
h2{
  text-align: center !important;
}
#getInTouch{
  font-size: 30px;
  margin-bottom: 20px;
  background-image: linear-gradient(90deg, var(--thm-base), var(--thm-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  text-align: center;
}
.contact .form-group label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--thm-black);
}
.contact .form-control {
  padding: 12px 15px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid #eee;
  background: var(--thm-f6);
  font-size: 14px;
}
.atf-contact-btn .atf-themes-btn {
  color: var(--thm-white);
  transform: translate(0px);
  width: 100%;
}
.atf-contact-info {
  padding: 35px;
  margin-right: 25px;
}

element.style {
}
.atf-contact-details {
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.fa.fa-telegram {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

element.style {
}
.atf-contact-details h4 {
    color: var(--thm-black);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}
.footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 9px;
	vertical-align: middle;
}

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
  color: #33383b;
}

.footer-distributed .footer-center span a{
	color:  lightseagreen;
	text-decoration: none;;
}
a{
  text-decoration: none;
  color: #33383b;
  cursor: pointer;
}
.span{
  color:#33383b;
  font-size: 14px;
  font-weight: 600;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.fa:hover{
  background: rgb(115, 115, 233);
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons:hover{
  background: rgb(115, 115, 233);
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
.footer-distributed .footer-icons a :hover{
  background: rgb(115, 115, 233);
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
ul li {
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
}
ul li a {
  display: block;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #636d79;
  width: 60px;
  height: 60px;
  font-size: 32px;
  padding-top: 0px;
  color: #537efd;
}
ul li a :hover {
  background: rgb(115, 115, 233);

}

.contact1{
  padding: 0px 0 10px 0;
  background-image: linear-gradient(90deg, var(--thm-base), var(--thm-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 30px;
  text-align: center;
}
