<section id="contact" class="atf-contact-area atf-section-padding">
  <h2 class="contact1 pt-3" >Contact US</h2>
  <div class="container">
    <div class="atf-section-title atf-section-title2 center">

    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-12 d-block mx-auto">
        <div class="contact">
          <h4 id="getInTouch">Get In Touch</h4>
          <form
            id="contact-form"
            class="atf-contact-form form"
            method="POST"
            action="assets/php/mail.php"
          >
            <div class="row">
              <div class="form-group col-md-12">
                <label> Name </label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Enter Name"
                  required="required"
                />
              </div>
              <div class="form-group col-md-12">
                <label>Number </label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="form_email"
                  placeholder="Enter Email"
                  required="required"
                />
              </div>
              <div class="form-group col-md-12">
                <label>Message </label>
                <textarea
                  rows="6"
                  name="message"
                  class="form-control"
                  id="message"
                  placeholder="Enter Message"
                  required="required"
                ></textarea>
              </div>
              <div class="col-md-12">
                <div class="atf-contact-btn atf-about-btn text-left">
                  <button type="submit" value="Submit Now" name="submit" id="submitButton" class="btn atf-themes-btn" title="Submit Your Message!">
                    Send Message
                  </button>
                </div>
              </div>
            </div>
          </form>
          <p class="form-message"></p>
        </div>
      </div>
      <!-- END COL -->


      <div class="col-lg-6 col-md-12 col-12">
        <div class="atf-contact-info ml-lg-5 ">
          <div class="atf-section-title atf-section-title2 ">
            <h2 class=" ">Stay Connected with us</h2>

          </div>

          <!-- <div class="atf-contact-details">
            <i class="fa fa-telegram" aria-hidden="true"></i>
            <h4>Telegram</h4>
            <a target="_blank" href="https://t.me/Movon_Key">t.me/Melo</a>
          </div> -->

          <!-- <div class="atf-contact-details">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <h4>Twitter</h4>
            <a target="_blank" href="https://twitter.com/movingonfinance">https://twitter.com/melo</a>
          </div> -->

          <!-- <div class="atf-contact-details">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <h4>Email Address</h4>
            <a target="_blank" href="mailto:admin@movingon.finance">melo@gmail.com</a>
          </div> -->
          <div class="footer-center">

            <div>
              <i class="fa fa-map-marker"></i>
              <span class="span">JERUSALEM</span>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <span class="span">+972 54-217-5590</span>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <a href="mailto:info@melo-booking.com">INFO@MELO-BOOKING.COM</a>
            </div>
            <div>
              <i class="fa fa-clock-o"></i>
              <a href="mailto:info@melo-booking.com">9AM TO 7PM</a>
            </div>

          </div>

        </div>
        <!--- END CONTACT -->
      </div>
      <!--- END COL -->
    </div >
    <div class="row text-center footer-center mt-3">
      <ul>
        <li>
             <a href="https://www.facebook.com/102226552402073/posts/pfbid02n61kiJ82Xaz2UGqqaq5DKmbZVTN3UQFeqV96UNnk9epvCPyqVaYXFymRdHGmWTmLl/?d=n" title="Facebook"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
             <a href="https://instagram.com/melo.app22?igshid=NWRhNmQxMjQ=" title="Instagram"><i class="fa fa-instagram"></i></a>
        </li>
   </ul>

    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTAINER -->
</section>

