<section
id="home"
class="atf-hero-area atf-cover-bg atf-align-items-details atf-width-area"
>
<div class="atf-round-area d-none d-lg-block"></div>
<div class="container">
  <div class="row atf-content-details align-items-center">
    <!--LEFT COL-->
    <div class="col-md-7 col-lg-7 col-12 atf-single-details text-lg-left">
      <h2 class="mb-0 d-block d-lg-block text-center text-md-left">
        MELO BOOKING
      </h2>
      <p class="mr-lg-5 text-center  text-md-left">
        We will always be available for you.
      </p>
      <!-- Main-btn -->
      <div _ngcontent-nau-c27="" class="atf-about-btn mt-5"><div _ngcontent-nau-c27="" class="atf-one__btn-wrap"><a _ngcontent-nau-c27="" href="https://drive.google.com/file/d/1ZgJcoUmpjkNds95NjA0OU5I1fvI4A-l0" class="atf-one__btn" ng-reflect-href="https://drive.google.com/file/"><i _ngcontent-nau-c27="" class="fa fa-play" aria-hidden="true"></i><span _ngcontent-nau-c27="">Get in</span><b _ngcontent-nau-c27="">Google Play</b></a><a _ngcontent-nau-c27="" href="https://install.appcenter.ms/users/gameonlinetn2050-gmail.com/apps/movon/distribution_groups/movon" class="atf-one__btn ml-3" ng-reflect-href="https://install.appcenter.ms/u"><i _ngcontent-nau-c27="" class="fab fa-apple" aria-hidden="true"></i><span _ngcontent-nau-c27="">Get in</span><b _ngcontent-nau-c27="">Apple Store</b></a></div></div>


    </div>
    <!--- END COL -->

    <!--RIGHT COL-->
    <div
      class="col-md-7 col-lg-5 col-12 atf_home_img atf-banner-img-one text-center"
    >
      <div
        class="atf-img-inner atf-banner-img-inner wow fadeInRight"
        data-wow-duration="2s"
        data-wow-delay="0.4s"
        data-wow-offset="0"
      >
        <div class="home-image-box">
          <img src="../../../../assets/img/bg.png" alt="App" class="card-s" />
        </div>
      </div>
    </div>
    <!--- END COL -->
  </div>
  <!--- END ROW -->
</div>
<!--- END CONTAINER -->
</section>
