
<section
id=""
class="atf-hero-area atf-cover-bg atf-align-items-details atf-width-area"
>
<div class="atf-round-area d-none d-lg-block"></div>
<div class="container">
  <div class="row atf-content-details align-items-center">
    <!--LEFT COL-->
    <div
      class="col-md-7 col-lg-7 col-12 atf-single-details text-lg-left"
    >
      <h2
        class="mb-0 d-block d-lg-block text-center text-md-left"

      >
       MELO BOOKING
      </h2>
      <p class="mr-lg-5 text-center text-md-left" >
       We will always be available for you.
      </p>
      <!-- Main-btn -->
    <div class="atf-about-btn mt-5 center">
          <div class="atf-one__btn-wrap">
            <a

              class="atf-one__btn"
            >
              <i class="fa fa-play"></i><span>Get in</span
              ><b>Google Play</b>
            </a>

            <a

              class="atf-one__btn ml-3"
            >
              <i class="fab fa-apple"></i><span>Get in</span
              ><b>Apple Store</b>
            </a>
          </div>
        </div>


    </div>
    <!--- END COL -->

    <!--RIGHT COL-->
    <div
      class="col-md-7 col-lg-5 col-12 atf_home_img atf-banner-img-one text-center"
    >
      <div
        class="atf-img-inner atf-banner-img-inner wow fadeInRight"
        data-wow-duration="2s"
        data-wow-delay="0.4s"
        data-wow-offset="0"
      >
        <div class="home-image-box">
          <img src="../../assets/images/bg.png" width="50%" alt="App" class="card-s" />
        </div>
      </div>
    </div>
    <!--- END COL -->
  </div>
  <!--- END ROW -->
</div>


</section>


