.atf-round-area {
  position: absolute;
  top: 30%;
  right: 40px;
  width: 140%;
  height: 100%;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}
/* .atf-round-area {
  position: relative;
  background: linear-gradient(90deg, var(--thm-base), var(--thm-color));
} */
.atf-banner-img-one .atf-banner-img-inner img {
  max-width: unset;
  width: 744px;
  margin-top: 100px;
}
.atf-one__btn-wrap {
  display: flex;
  justify-content: center;
}

p,
h1 {
  font-family: Lato;
  color: #fff !important;
}



.atf-section-title2 {
  font-size: 30px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, var(--thm-base), var(--thm-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  text-align: center;
}
.atf-one__btn {
  margin: 0 30px;

}

.appText,
p {
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.atf-one__btn:hover{
 

}

@media only screen and (max-width: 600px) {
  #home {
    padding-top: 80px;
   height: auto;
  }
  .atf-one__btn {
    margin: 0 0px;

  }
}
